%h1
  Zapisani członkowie na bieżącą kadencję (dopisani do zamka)
  %kbd
    =@current_year

%table.table.table-striped#memberships
  %thead
    %tr
      %th Imię i nazwisko
      %th Email
      %th Typ składki
      %th Składka opłacona?
      %th Kiedy zapisany
      %th

  %tbody
    - @memberships.each do |membership|
      %tr
        %td.strong= membership.member.full_name
        %td= membership.member.email
        %td= membership.period.info
        %td= raw(membership.fee_paid_html)
        %td= membership.created_at
        %td
          =link_to 'Pokaż', new_members_admin_show_path(membership.member.id), class: "btn btn-default"
          =link_to 'Edytuj (advanced)', edit_membership_path(membership), class: "btn btn-default"
