#navbar.navbar.navbar-default
  .container
    .container-fluid
      .navbar-brand
        = link_to image_tag('/assets/logo3.png', height: '64px'), root_path
      %ul.nav.navbar-nav
        - if current_user
          %li
            = link_to raw("Zapisz<br />do koła"), new_enroll_path
          %li
            = link_to raw("Wydaj<br />koszulkę"), new_enroll_path
            //todo
          %li
            = link_to raw("Dodaj<br />do zamka"), new_enroll_path
            //todo
          %li
            = link_to raw("Członkowie<br />(tabelki)"), new_members_path
          %li
            = link_to raw("Definicje<br />(okresy itp.)"), new_definitions_path
          %li
            = link_to raw("Konfiguracja<br />&nbsp;"), new_config_path
          %li
            = link_to raw("Tryb<br />zaawansowany"), advanced_path
        - else
          %li
            = link_to 'Księgozbiór', ksiegozbior_path
          %li
            = link_to 'Zaloguj (zarzont)', login_path
      - if current_user
        %ul.nav.navbar-nav.pull-right
          %li
            = current_user.email
            = link_to 'Wyloguj', logout_path, method: :delete
