#navbar.navbar.navbar-default
  .container
    .container-fluid
      .navbar-brand
        = link_to image_tag('/assets/logo3.png', height: '48px'), root_path
      %ul.nav.navbar-nav
        - if current_user
          %li
            = link_to "Zapisz do koła", new_enroll_path
          %li
            = link_to "Członkowie", new_members_path
          %li
            = link_to "Koszulki", new_tshirts_path
          %li
            = link_to "Definicje", new_definitions_path
          %li
            = link_to "Tryb zaawansowany (Adam)", advanced_path
        - else
          %li
            = link_to 'Księgozbiór', ksiegozbior_path
          %li
            = link_to 'Zaloguj (zarzont)', login_path
      - if current_user
        %ul.nav.navbar-nav.pull-right
          %li.navbar-text
            = current_user.email
          %li
            = link_to 'Wyloguj', logout_path, method: :delete
